/*	
------------------------------------------------------------
IE Specific Styles
------------------------------------------------------------	
Notes:
------------------------------------------------------------	
*/

#site_banner,
#cols,
#page_banner,
.blog_navigation,
#site_banner div#join_in ul,
.main_column_inner,
div.main_column,
div.right_column,
.padded_y
{
	zoom: 1;
}

div.right_column_inner
{
	padding: 0 9px 0 10px;
	margin: 0;
}